/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

.logo {
    max-height: 50px;
}

.login-button {
    margin: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}

/* Forms */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Place Cards */
.places {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.place-card, .review-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    width: 200px;
    text-align: center;
}

.details-button, .add-review, .submit-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.details-button:hover, .add-review:hover, .submit-button:hover {
    background-color: #218838;
}